services:
  db:
    restart: always
    image: postgres
    volumes:
      - ./schema:/docker-entrypoint-initdb.d:z
    env_file:
      - .env

  back:
    restart: always
    build:
      context: .
      dockerfile: Containerfile
    ports:
      - "127.0.0.1:8069:8000"
    env_file:
      - .env
    depends_on:
      - db
