services:
  db:
    image: postgres
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:z
    ports:
      - "5432:5432"

volumes: