<div class="fixed inset-0 pointer-events-none -z-10">
    <div class="absolute top-1/2 left-1/2
                w-[120vw] h-[700vh]
                bg-gradient-to-r
                from-[rgba(17,0,255,0.7)] from-[-80%]
                via-[rgba(0,0,0,1)] via-[50%]
                to-[rgba(106,0,255,0.7)] to-[180%]
                blur-[200px]
                transform -translate-x-1/2 -translate-y-1/2">
    </div>
    <div class="absolute h-[700vh] inset-0 bg-[url('../res/bruit_bg.png')] bg-repeat-y bg-center bg-top opacity-5 pointer-events-none blur-[40px] -z-0"></div>
</div>
