<nav class="navbar px-6 py-3 bg-black/30 border-b border-white/10 backdrop-blur-md text-white">
  <div class="flex-1 gap-3 items-center">
    <a class="btn btn-ghost normal-case text-lg" href="/">
      <img src="../res/logoTwiTN.svg" alt="Logo" class="w-8 h-8">
      <span class="ml-2">Twi'TN</span>
    </a>
  </div>
  <div class="flex-none gap-2">
    <a href="/login" class="btn btn-outline border-white/40 text-white hover:bg-white hover:text-black">Connexion</a>
    <a href="/signup" class="btn bg-white text-black hover:bg-white/80">Inscription</a>
  </div>
</nav>
